:root {
    --behind-paper: #1f2022; /* Colour for behind "paper" */
    --main-display: #e9e9e9; /* Colour for "paper" #121212 */
    --gutter-main: #2c3645; /* Colour for gutter */
    --shadow-main: #12121273; /* Colour for gutter */
    --toolbar-main: #121212; /* Colour for toolbar */
    --toolbar-btn-hover: #37394e; /* Colour for toolbar buttons */
    --toolbar-btn-clicked: #242532; /* Colour for toolbar buttons */
    --text-colour: #fff; /* Colour for text */
}
  
body {
    color: var(--text-colour);
}
.edit-container, .preview-container {
    background: var(--behind-paper);
}
.slate-editor {
    background: var(--main-display);
}
.preview-box {
    background: var(--main-display);
    box-shadow: 0 0 8px var(--shadow-main);
}
.gutter {
    background-color: var(--gutter-main);
}
.toolbar {
    background-color: var(--toolbar-main);
}
.toolbarBtn:hover {
    background-color: var(--toolbar-btn-hover);
}
.toolbarBtn:active {
    background: var(--toolbar-btn-clicked);
}