@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* variables */
:root {
  --light-grey: #e4e8ee; /* Colour for behind "paper" */
  --main-display: #fff; /* Colour for behind text */
  --gutter-main: #2c3645; /* Colour for gutter */
  --shadow-main: #bbb; /* Colour for gutter */
  --toolbar-main: #f0f0f0; /* Colour for toolbar */
  --toolbar-btn-hover: #c4c4c4; /* Colour for toolbar buttons */
  --toolbar-btn-clicked: #ddd; /* Colour for toolbar buttons */
  --text-colour: #000; /* Colour for text */
}

/* body {
  color: var(--text-colour);
}
.edit-container, .preview-container {
  background: var(--light-grey);
}
.slate-editor {
  background: var(--main-display);
}
.preview-box {
  background: var(--main-display);
  box-shadow: 0 0 8px var(--shadow-main);
}
.gutter {
  background-color: var(--gutter-main);
}
.toolbar {
  background-color: var(--toolbar-main);
}
.toolbarBtn:hover {
  background-color: var(--toolbar-btn-hover);
}
.toolbarBtn:active {
  background: var(--toolbar-btn-clicked);
} */



.app-container {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
  }
  

  .edit-container, .preview-container {
    width: 100%;
  }

  .slate-editor {
    padding: 20px;
    height: calc(100vh - 60px); 
    width: 100%; 
    overflow: auto; /* Add scrollbars when content overflows */
    outline: 0px solid transparent;
  }

  .edit-container {
    /* background:rgba(255, 0, 0, 0.308); */
  }
  
  .preview-container {
    overflow-y: auto;
    /* background:rgba(0, 68, 255, 0.377); */
    word-wrap: break-word;
    white-space: initial;
  }

  .preview-box {
    margin: 20px;
    padding: 20px;
    height: calc(100vh - 40px); 
  }
  
  .katex .katex-html {
    display: none;
  }

  .split {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.toolbar > * {
  margin: 5px;
  display: flex;
  align-items: center;
}

.toolbar {
  padding: 0 0 10px 10px; /* directions: top/bottom left/right */
  flex-wrap: wrap;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolbarBtn {
  border-radius: 1px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

select {
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}